<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fill Color Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>fillColorSwitch</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>fillColor</string>
			<key>label</key>
			<string>Fill Color</string>
			<key>fallback</key>
			<string>FFFFFF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bolt Color Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>boltColorSwitch</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>boltColor</string>
			<key>label</key>
			<string>Bolt Color</string>
			<key>fallback</key>
			<string>FFFFFF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pin Color Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>pinColorSwitch</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>pinColor</string>
			<key>label</key>
			<string>Pin Color</string>
			<key>fallback</key>
			<string>80FFFFFF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Color Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>borderColorSwitch</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.napolit7.BatteryCustomizerPreferences/ReloadPrefs</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.napolit7.BatteryCustomizerPreferences</string>
			<key>key</key>
			<string>borderColor</string>
			<key>label</key>
			<string>Border Color</string>
			<key>fallback</key>
			<string>67FFFFFF</string>
		</dict>
	</array>
	<key>title</key>
	<string>BatteryCustomizer</string>
</dict>
</plist>
